body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://static7.depositphotos.com/1238677/724/i/600/depositphotos_7247453-stock-photo-it-analytics-3d-background.jpg");
  }
  
  .navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .tableauPlaceholder{
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

 h3{
   text-align: center;
   color: white;
   font-weight: bolder;
 }

 p{
   text-align: center;
   color: white;
   font-weight: bolder;
 }

div {
  resize: both;
  overflow: auto;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
input {
  align-items: center;
}

.row {
  align-items: center;
}